body {
    background-color: cornsilk;
}

.konteiner {
    width: 90%;
    min-height: 600px;
    background-color: cornsilk;
    margin: 0 auto;
    background-color: white;
}

.menyy {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menyy li {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.menyy li:hover {
    background-color: greenyellow;
}

@media screen and (min-width: 600px) {
    .menyy {
        flex-direction: row;
        justify-content: flex-end;
    }

    .menyy li {
        margin-left: 5px;
        margin-bottom: 0px;
    }
}
